/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 1vh;
}

.bold-text {
  font-weight: bold;
}

.bread-custom {
  margin-left: 5vh;
  font-weight: bold;
}
